body {
  background-color: rgb(220, 224, 226);
}

.App {
  /* text-align: center;
  width: 300px; */
  margin: auto;
  }


.item {
  display: flex;
  justify-content: center;
}

.btnItem {
  border: none;
  background-color: rgb(59, 148, 114);
  font-family: 'Roboto', sans-serif;
  padding: 5px;
  margin: 6px;
  color: whitesmoke;
  width: 80px;
}

.btnItem:hover {
  background-color: rgb(40, 105, 91);
}

.crossed {
  text-decoration: line-through 2px rgb(185, 27, 27);
  background-color: rgb(189, 191, 192);
  -webkit-text-decoration-line: line-through;
  color: red;
}

ul, li {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.btnDel {
  width: 300px;
  font-family: 'Roboto', sans-serif;
  border: none;
  background-color: rgb(185, 27, 27);
  color: whitesmoke;
  padding: 7px;
}

.btnDel:hover {
  background-color: rgb(150, 37, 37);
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 27px;
  
}

input {
  font-family: 'Roboto', sans-serif;
  margin: 6px;
  padding: 5px;
  border: none;
  width: 200px;
}

.conteiner {
  display: flex;
  justify-content: center;
}

.pic {
  margin-bottom: -3px;
}